.app-container {
    text-align: center;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .app-header {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .main-button {
    font-family: 'ByteBounce', sans-serif;
    font-size: 18pt;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 250px;
    height: 150px;
    padding: 0;
    margin:0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
  }
  
  .main-button:hover {
    opacity: 0.8;
    background-color: transparent; 
  }

  .webcam-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .webcam {
    width: 320px;
    height: 240px;
    border-radius: 8px;
    border: 2px solid #2C6E49;
  }
  
  .capture-button {
    font-family: 'ByteBounce', sans-serif;
    margin-top: 10px;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 200px; 
    height: 100px;
    font-size: 18pt;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .capture-button:hover {
    opacity: 0.8;
    background-color: transparent; 
  }
  
  .captured-image-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .captured-image {
    width: 320px;
    height: 240px;
    border-radius: 8px;
    border: 2px solid #2C6E49;
  }
  
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .loading-content {
    text-align: center;
  }
  
  .loading-gif {
    width: 10px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .intro-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Darker backdrop */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .intro-popup-content {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    max-width: 90%;
    width: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  
  .intro-robot-img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .intro-text {
    font-family: 'ByteBounce', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .intro-close-button {
    font-family: 'ByteBounce', sans-serif;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    color: white;
    padding: 10px 25px;
    font-size: 18pt;
    border: none;
    border-radius: 10px;
    width: 200px; 
    height: 100px;
    cursor: pointer;
  }
  
  .intro-close-button:hover {
    opacity: 0.8;
    background-color: transparent; 
  }
  

  @media (max-width: 600px){
    .hide-on-mobile {
      display: none;
    }
    .button-container .main-button {
      font-family: 'ByteBounce', sans-serif;
      font-size: 18pt;
      background-size: contain; 
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      width: 250px;
      height: 150px;
      padding: 0;
      margin:0;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      outline: none;
    }
    
    .button-container .main-button:hover {
      opacity: 0.8;
      background-color: transparent; 
    }

    .intro-close-button {
      font-family: 'ByteBounce', sans-serif;
      background-size: contain; 
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      color: white;
      padding: 10px 25px;
      font-size: 18pt;
      border: none;
      border-radius: 10px;
      width: 200px; 
     height: 100px;
      cursor: pointer;
    }
    
    .intro-close-button:hover {
      opacity: 0.8;
      background-color: transparent; 
    }

  }