.results-container {
    font-family: 'ByteBounce', sans-serif;
    font-size: 18pt;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .captured-image {
    border: 2px solid #2C6E49;
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
  }
  
  .back-button {
    margin-top: 20px;
    background-color: #474747;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    display: block;
  }
  
  .back-button:hover {
    background-color: #5b5b5b;
  }

  .loading-gif {
    margin-top: 20px;
    width: 300px;
    height: auto;
  }
  
  .prediction-details-box {
    margin-top: 20px;
    padding: 0;
    max-width: 600px;
    width: 100%;
}

.details-toggle {
    background-color: #007bff;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.2s;
}

.details-toggle:hover {
    background-color: #0056b3;
}

.prediction-details-content {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.score-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 12px;
    gap: 6px;
}

.score-row {
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    background-color: #ffffff;
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid #eee;
}

.score-label {
    font-weight: bold;
}

.log-line {
    font-family: monospace;
    font-size: 0.9em;
    color: #333;
    white-space: pre-wrap;
}

.caret-icon {
  transition: transform 0.3s ease;
  font-size: 1rem;
}

.caret-icon.rotate {
  transform: rotate(180deg);
}
.accordion-button,
.accordion-button:not(.collapsed) {
  font-size: 18pt !important;
  background-color: #f1f1f1 !important;
  box-shadow: none !important;
}
.result-text{
  font-size: 18pt;
}

.results-header{
  font-size: 25pt;
}
.mt-2,.mb-3, .ocr-header{
  font-size: 20pt;
}

.btn-mt4{
    font-family: 'ByteBounce', sans-serif;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    color: white;
    padding: 10px 25px;
    font-size: 18pt;
    border: none;
    border-radius: 10px;
    width: 200px; 
    height: 100px;
    cursor: pointer;
}

.btn-mt4:hover {
  opacity: 0.8;
  background-color: transparent; 
}